<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hua.mapper.AdminMapper">

    <select id="queryTotalBlogs" resultType="long">
        select count(*)
        from t_blog
    </select>

    <select id="queryTotalViews" resultType="long">
        select sum(views)
        from t_blog
    </select>

    <select id="queryTotalComments" resultType="long">
        select count(*)
        from t_comment
    </select>

</mapper>